html,
body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body{
  color: white;
  @include apregular;
}

*{

  box-sizing: border-box;

}



a,
a:hover,
a:visited{
  text-decoration: none;
  color: white;
}

.flux{

  width: 100%;
  margin: auto;

}