.flux{

  width: 100%;
  max-width: 1400px;
  padding: 0px 78px;
  text-align: center;

}

audio{
  opacity: 0;
  position: absolute;
  z-index:-1;
}

.intro{
  width: 100%;
  height: 100vh;
  color: $purple;
  position: relative;
  overflow: hidden;

  .main-content{

    display: table;
    margin: auto;
    padding-top: 43px;

    h1{
      font-size: 88px;
      margin: 0;
      line-height: 1;
      width: 162px;
      position: relative;

      &:after{
        height: 4px;
        width: 40px;
        content: "";
        display: block;
        position: absolute;
        top: 90px;
        background: $purple;
        left: 7px;
      }
    }

    h2{
      margin: 0;
      font-size: 46px;
      text-transform: uppercase;
      margin-left: 6px;
      line-height: 1;
    }

    &.full-screen{

      position: absolute;
      cursor: pointer;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(calc(-50% - 30px));
      padding-top: 0px;


      h1{
        font-size: 198px;
        width: 370px;
        line-height: 1;
        &:after{
          height: 10px;
          width: 90px;
          top: 198px;
          left: 14px;
        }
      }

      h2{
        font-size: 105px;
        margin-left: 10px;
        line-height: 1;
      }

      &:after,
      &:before{

        content: "";
        height: 22px;
        width: 22px;
        background: $purple;
        position: absolute;
        left: 50%;
        transform: translateX(-50%) translateY(-50%) rotate(45deg);

      }

      &:before{
        top: -70px;

      }

      &:after{

        top: 410px;


      }


    }


  }

  .intro-description{

    display: none;
    opacity: 0;
    width: 736px;
    font-size: 19px;
    margin: auto;
    margin-top: 120px;

  }

  .to-index{

    display: none;
    opacity: 0;

    width: 40px;
    height: 40px;
    border: 1px solid $purple;
    position: relative;
    transform: rotate(225deg);
    margin: auto;
    margin-top: 60px;
    cursor: pointer;

    &:after{
      content: '';
      height: 20px;
      width: 20px;
      background: $purple;
      position: absolute;
      top: 0%;
      left: 0;
      -webkit-animation: mymove 2s infinite; /* Safari 4.0 - 8.0 */
      animation: mymove 2s infinite;

    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes mymove {
      0%   {height: 15px; width: 15px;}
      50%  {height: 20px; width: 20px;}
      100% {height: 15px; width: 15px;}
    }

    /* Standard syntax */
    @keyframes mymove {
      0%   {height: 15px; width: 15px;}
      50%  {height: 20px; width: 20px;}
      100% {height: 15px; width: 15px;}
    }
  }

}

.index{
  display: none;
}

.timeline{

  padding-top: 90px;

  .article-contents,
  .timelines-categories,
  .presentation-contents{
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    height: 200px;
  }

  .article-contents{

    width: 240px;
    margin-top: 93px;
    position: relative;

    .content{

      position: fixed;
      top: 180px;
      display: none;
      opacity: 0;
      width: 240px;
      text-align: left;
      word-wrap: break-word;
      overflow-x: hidden;


      .illustration{

        width: 188px;
        height: 127px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        margin-bottom: 15px;

        &:before{

          content: '';
          width: 100%;
          height: 100%;
          opacity: 0.3;
          position: absolute;
          top: 0;
          left: 0;
        }


      }

      .title,
      .date{

        font-size: 21px;
        line-height: 24px;
        margin: 0;

      }

      a{

        font-size: 14px;
        max-height: 42px;
        overflow: hidden;
        display: inline-block;
        color: $purple;

      }

      .separator{
        background-color: $purple;
        height: 5px;
        width: 29px;
        margin: 7px 0px;

      }

      .description{
        font-size: 14px;
        line-height: 16px;
        color: $purple;
      }
    }

  }


  .timelines-categories{

    width: 370px;
    text-align: right;
    padding-right: 20px;
    margin-right: 27.5%;

    .months{

      display: inline-block;
      width: 126px;
      color: $purple;
      font-size: 21px;
      vertical-align: top;
      margin-top: 80px;

      span{

        display: block;
        height: 152px;
        overflow: hidden;
        margin: 0;
        vertical-align: middle;
        margin-right: 33px;

        &:after{

          content: '';
          height: 1px;
          width: 32px;
          display: inline-block;
          background: $purple;
          margin-left: 10px;
          vertical-align: middle;

        }

        &:last-of-type{
          height: 30px;
        }

      }

    }

    .categoriesNames{
      width: 250px;
      position: fixed;
      top: 75px;
      margin-left: 92px;
      z-index: 1;

      .catName{

        position: relative;
        font-size: 30px;
        margin-bottom: 20px;
        color: black;
        display: inline-block;
        width: 1px;
        margin-right: 55px;

        span{

          transform: rotate(-60deg) translateX(30px) translateY(-40px);
          transition: transform 1s cubic-bezier(0.425, 0.025, 0.015, 0.980);
          display: inline-block;

        }
        .after{

          content: '';
          display: block;
          height: 16px;
          width: 16px;
          border: 1px solid #aaa;
          transform: rotate(135deg);
          position: absolute;
          left: 0px;
          top: 39px;

        }

      }


      &:before{

        background-color: white;
        content: '';
        display: block;
        position: absolute;
        border-bottom: 0;
        height: 23px;
        width: 100%;
        top: 35px;

      }

    }

    .timeline-single-group{

      display: inline-block;
      width: 1px;
      margin-right: 55px ;
      height: calc(1100px + 100%);


    }

    .timeline-single{

      height: 1570px;
      border-top: 30px solid $purple;
      border-bottom: 475px solid $purple;
      background: $purple;
      position: relative;
      margin-top: 50px;
      width: 1px;

      .chip{

        height: 30px;
        width: 30px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 50%;
        position: absolute;
        background: $purple;
        z-index: 1;
        transition: height 0.5s, width 0.5s;

        &.hidden{

          transition: height 0.5s, width 0.5s;
          height: 0;
          width: 0;


        }



      }

    }

  }

  .presentation-contents{

    text-align: right;
    position: fixed;
    left: calc(50% + 180px);
    top: 0;

    .presentation{

      text-align: left;
      width: 252px;
      position: absolute;
      opacity: 0;
      display: none;

      h2{

          font-size: 32px;
          margin: 0;
          margin-top: -15px;

        }

      .text{
        font-size: 18px;
        line-height: 22px;
        color: $purple;
      }

      .separator{

        background-color: $purple;
        height: 5px;
        width: 29px;
        margin: 7px 0px;

      }

    }


  }

}




//////// GESTION COLOR //////


.timeline{


  .article-contents{

    .content{

      &.arduino{

        @include article-content-color($red);

      }

      &.others{

        @include article-content-color($orange);

      }


      &.bending{

        @include article-content-color($green);

      }

      &.printing{

        @include article-content-color($blue);

      }

    }


  }

  .categoriesNames{


    &.scrolledStatut{

      .catName{

        span{

          transform: rotate(-90deg) translateY(-65px) translateX(38px);

        }

      }

    }


    .catName{

      &.arduino{

        @include categoryNames($red);

      }

      &.others{

        @include categoryNames($orange);

      }


      &.bending{

        @include categoryNames($green);

      }

      &.printing{

        @include categoryNames($blue);

      }


    }



  }

  .timeline-single-group{

    &.arduino{

      @include timeline-color($red);

    }

    &.others{

      @include timeline-color($orange);

    }

    &.bending{

      @include timeline-color($green);

    }

    &.printing{

      @include timeline-color($blue);

    }

  }


}

.presentation-contents{

  .presentation{

    &.arduino{

      h2{
        
        color: $red;

      }
      .separator{

        background: $red;

      }

    }


    &.printing{

      h2{

        color: $blue;

      }

      .separator{

        background: $blue;

      }

    }

    &.bending{

      h2{

        color: $green;

      }

      .separator{

        background: $green;

      }

    }
    
    &.others{
      
      h2{

        color: $orange;
      }

      .separator{

        background: $orange;

      }

    }



  }


}

.pdf{

  position: absolute;
  top: 1500px;
  left: 50%;
  transform: translateX(calc(-50% - 8px));
  font-size: 20px;
  display: block;
  width: 200px;
  height: 80px;
  color: $purple;
  z-index: 51;
  background: white;
  text-align: center;

  a{

    color: $purple;
    line-height: 80px;
  }

}