/* ##################### COLORS ##################### */
$purple: #aaaaaa;
$red : #EA0F58;
$orange : #FF6F0D;
$blue : #143FF4;
$green : #779977;

@font-face {
  font-family: 'apollinePro-regular';
  src: url('../fonts/ApollinePro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/ApollinePro-Regular.otf')  format('opentype'),
  url('../fonts/ApollinePro-Regular.woff') format('woff'), url('../fonts/ApollinePro-Regular.ttf')  format('truetype'), url('../fonts/ApollinePro-Regular.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}


@mixin apregular {  font-family: 'apollinePro-regular';}


@font-face {
  font-family: 'avenir-light-obl';
  src: url('../fonts/AvenirLTStd-BookOblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-BookOblique.otf')  format('opentype'),
  url('../fonts/AvenirLTStd-BookOblique.woff') format('woff'), url('../fonts/AvenirLTStd-BookOblique.ttf')  format('truetype'), url('../fonts/AvenirLTStd-BookOblique.svg#AvenirLTStd-BookOblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin avlightobl {  font-family: 'avenir-light-obl';}

@font-face {
  font-family: 'avenir';
  src: url('../fonts/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Roman.otf')  format('opentype'),
  url('../fonts/AvenirLTStd-Roman.woff') format('woff'), url('../fonts/AvenirLTStd-Roman.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin av {  font-family: 'avenir';}

@font-face {
  font-family: 'avenir-obl';
  src: url('../fonts/AvenirLTStd-Oblique.eot?#iefix') format('embedded-opentype'),  url('../fonts/AvenirLTStd-Oblique.otf')  format('opentype'),
  url('../fonts/AvenirLTStd-Oblique.woff') format('woff'), url('../fonts/AvenirLTStd-Oblique.ttf')  format('truetype'), url('../fonts/AvenirLTStd-Oblique.svg#AvenirLTStd-Oblique') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin avobl {  font-family: 'avenir-obl';}

@mixin fullSeparator{

  width: 100%;
  height: 1px;
  background-color: white;


}

@mixin article-content-color($color){

  h2,
  .date{
    color: $color;
  }

  .separator{

    background: $color;
  }

  .illustration{

    &:before{
      background: $color;
    }
  }

}

@mixin categoryNames($color){



    color: $color;

    .after{

      border-color: $color;

    }


  &.active{


    .after{

      background-color: $color;
      transition: background-color 1s;

      &:before{

        content: '';
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid $color;
        display: block;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-animation: mymovechip 0.5s ; /* Safari 4.0 - 8.0 */
        animation: mymovechip 0.5s;

      }

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes mymovechip {
        0%   {height: 20px; width: 20px;}
        100% {height: 30px; width: 30px;}
      }

      /* Standard syntax */
      @keyframes mymovechip {
        0%   {height: 20px; width: 20px;}
        100% {height: 30px; width: 30px;}
      }

      &:after{

        content: '';
        opacity: 0;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 3px solid $color;
        display: block;
        transform: translateX(-50%) translateY(-50%);
        top: 50%;
        left: 50%;
        position: absolute;
        -webkit-animation: mymovechipeco 1s infinite; /* Safari 4.0 - 8.0 */
        animation: mymovechipeco 1s infinite;

      }

      /* Safari 4.0 - 8.0 */
      @-webkit-keyframes mymovechipeco {
        0%   {height: 30px; width: 30px; opacity: 0;}
        50%   {height: 30px; width: 30px; opacity: 1;}
        100% {height: 40px; width: 40px; opacity: 0;}
      }

      /* Standard syntax */
      @keyframes mymovechipeco {
        0%   {height: 30px; width: 30px; opacity: 0;}
        50%   {height: 30px; width: 30px; opacity: 1;}
        100% {height: 40px; width: 40px; opacity: 0;}
      }

    }

  }


}

@mixin timeline-color($color){

  .timeline-single{

    border-color: $color;
    background: $color;


    .chip{

      background: $color;

      &:before,
      &:after{
        border-color: $color;
      }

    }

  }

}